body {
    margin: 0;
    margin-left: -40px;
}

ul {
    list-style: none;
}

li {
    list-style-type: none;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list__item {
    width: 18%;
    height: 100px;
    background-color: red;

}

@media screen and (max-width: 767px) {
    .list {
        height: 1000px;
        flex-direction: column-reverse; /*xếp theo cột và đảo ngược*/
        justify-content: space-around;
    }

    .list__item {
        width: 100%;
        margin-bottom: 10px;
        order: 1;
    }
    
    .list__item:last-child {
        order: 0; /*order nhỏ thì xếp trước*/
        align-self: center;
        width: 10px;
    }
}

/* .list__item:last-child {
    margin-left: auto;
} */

.search {
    width: 100%;
    display: flex;
}

input {
    flex-grow: 1;/*sẽ cố gắng chiếm mọi phần diện tích có thể*/
    width: 1000px;
    flex-shrink: 1; /*nếu flex-shrink: 0 thì khi co màn hình lại thì phần tử đó sẽ không co theo, còn flex-shrink: 1 thì sẽ co theo dù đã cố định width: 1000px*/
}

button {
    /* flex-grow: 1; */
    padding: 15px;
    background-color: blue;
    color: white;
    border-radius: 50px;
}