:root {
    --primary-color: #58327c;
    /*nếu khai bảo ở root thì nó là global variable*/
}

.boxed {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to right bottom, #58327c,  #43c7f1);
}

.title {
    font-size: 30px;
    font-weight: bold;
    background-image: linear-gradient(to right bottom, #58327c,  #43c7f1);
    display: inline-block;
    margin: 0 auto;
    color: transparent; /*trong suốt*/
    background-clip: text;
    -webkit-background-clip: text;
}

.background {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(88, 50, 124, 0.384),  hsla(194, 86%, 60%, 0.377)), url("https://scontent.fhan2-2.fna.fbcdn.net/v/t1.15752-9/s2048x2048/183471225_185379313436789_7328739825585633095_n.png?_nc_cat=110&ccb=1-5&_nc_sid=ae9488&_nc_ohc=X8DxZKVoT80AX8dsTCV&_nc_ht=scontent.fhan2-2.fna&oh=4d1b97e48976aef52b894ba4565f42ef&oe=6141FC34");
    background-size: cover;

    /* opacity: 0; */
    /*vẫn chiếm diện tích, vẫn bấm vào được*/

    /* visibility: hidden; */
    /*vẫn chiếm diện tích, không bấm vào được*/

    display: none; /*để thấy hình ảnh thì cmt dòng này vào*/
    /*không chiếm diện tích, không bấm vô được*/
}

.link {
    font-size: 30px;
    font-weight: bold;
    background-image: linear-gradient(to right bottom, #58327c,  #43c7f1);
}

@supports (-webkit-background-clip: text) {
    .link {
        display: block;
        margin: 50px auto;
        width: 160px;
        color: transparent; /*trong suốt*/
        background-clip: text;
        -webkit-background-clip: text; /*phần code này sẽ giúp ẩn phần background đi những chừa lại màu background trên đúng phần chữ bị transparent*/
    }
}
/*Nếu trình duyệt hỗ trợ thì chạy code trong @supports, còn không thì thôi*/

.shadow {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to right bottom, #58327c,  #43c7f1);
    box-shadow: 5px 5px 10px 5px black;
}

.shadow__text{
    margin: 50px auto;
    text-shadow: -5px -5px 10px black;
}

.var {
    --secondary-color: #43c7f1;
    /*nếu khai bảo ở trong class/id thì nó là local variable*/
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to right bottom, var(--primary-color),  var(--secondary-color));
}

h2.imp {
    font-size: 30px;
    font-weight: bold;
    color: green !important;
}

h2#imp {
    color: orange;
}
/*Mức độ ưu tiên tăng dần từ trên xuống dưới nếu giống nhau*/
/*Mức độ ưu tiên: Tags < Class < ID < Inline(là code trực tiếp trên file html) < !important*/
/*hạn chế sử dụng !important*/

ul {
    font-size: 30px;
    font-weight: bold;
}

li:first-child {
    color:red;
}

li:first-of-type {
    color:#58327c;
    /*khác biệt giữa child và type là child sẽ lấy theo các phần tử con không phân biệt thẻ, còn type thì có phân biệt thẻ, để rõ hơn thì thêm 1 thẻ p ở đầu của ul*/
}

li:last-child {
    color: blue;
}

li:nth-child(2) {
    color: orange;
}

li:nth-last-child(2) {
    color: purple;
}

li:not(:first-child, :last-child) {
    /* color: brown; */
}

li:nth-child(even) {
    /* color: green; */
}

li:nth-child(2n+1) {
    /* color:#43c7f1; */
    /*n sẽ chạy từ 0*/
}

li:first-child span {
    color:red;
}

p {
    font-size: 40px;
    font-weight: bold;
    color:red;
}